<%- include('../includes/head.ejs') %>
<link rel="stylesheet" href="/style/product.css">
    </head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main class="main">
        <% if (products.length > 0) {%>
            <div class="grid">
            <% products.forEach(p => { %>
                <article class="card product-item">
                    <header class="card__header">
                        <h1 class="product__title">
                        <%= p.name %>
                        </h1>
                    </header>
                    
                    <div class="card__content">
                        <h2 class="product__price">
                            (<%= p.cartItem.quantity %>)
                        </h2>
                    </div>
                    <div class="card__actions">
                    <form action="/cart-delete-item" method="POST">
                        <input type="hidden" name="id" value="<%= p.id%>">
                        <button type="submit" class="btn">Delete</button>
                    </form>
                    </div>
                    
                </article>
            <%} ) %>
        </div>
            <% } else { %>
               <h1>Empty Cart</h1> 
            <% } %>
    </main>
<%- include('../includes/end.ejs') %>