<%- include('../includes/head.ejs') %>
    </head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main class="main">
        <% if(orders.length <= 0) { %>
            Nothing yet!
        <% } else { %>
            <ul class="order__list">
                <% orders.forEach(order => {%>
                    <li class="order__list_item">
                        <h1 class="order__list_id"># <%= order._id %> -  <a href="/orders/<%= order._id %>"> Invoice</a></h1>
                        <ul >
                                <% order.products.forEach(prod => { %>
                                    <li ><%= prod.product.title %> (<%= prod.quantity %>)</li> 
                               <% }) %>
                        </ul>
                    </li>
              <% }) %>
            </ul>
       <% } %>
    </main>
<%- include('../includes/end.ejs') %>